html{
    position: relative;
    min-height: 100%;
}

html, body{
    margin:0;
    padding:0;

}
.mainform{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar{
    margin: 25px;
    width: 400px;
}

.button{
    margin: 5px;
}

.user-icon{
    border-radius: 50%;
}


#offered-text{
    font-weight: 100;
    font-size: 13px;
}

ul{
    position:absolute;
    top:0;
    right:0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li{
    padding-right: 10px;
    float:right;
    font-size: 12px;
}

footer{
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#F2F2F2;
}


.footer-bar{
    height: 40px;
    border: 1px solid #dadce0;
}


.bottom-text{
    margin:0;
    font-weight: 200;
    color:rgba(0,0,0,.54);
    font-size: 15px;
    font-family: sans-serif;
}

.footer-text-aligned-left{
    padding-left: 25px;
    padding-top: 10px;
    float: left;
}

.footer-text-aligned-right{
    padding-right: 25px;
    padding-top: 10px;
    float: right;
}